<div class="card card-block">
  <h4 class="card-title">Create Joke</h4>
  <form novalidate
        [formGroup]="form">
    <div class="form-group"
         [ngClass]="{
        'has-danger': setup.invalid && (setup.dirty || setup.touched),
        'has-success': setup.valid && (setup.dirty || setup.touched)
      }">
      <input type="text"
             class="form-control"
             placeholder="Enter the setup"
             formControlName="setup">
      <div class="form-control-feedback"
           *ngIf="setup.errors && (setup.dirty || setup.touched)">
        <p *ngIf="setup.errors.required">Setup is required</p>
      </div>
    </div>
    <div class="form-group"
         [ngClass]="{
        'has-danger': punchline.invalid && (punchline.dirty || punchline.touched),
        'has-success': punchline.valid && (punchline.dirty || punchline.touched)
      }">
      <input type="text"
             class="form-control"
             placeholder="Enter the punchline"
             formControlName="punchline">
      <div class="form-control-feedback"
           *ngIf="punchline.errors && (punchline.dirty || punchline.touched)">
        <p *ngIf="punchline.errors.required">Punchline is required</p>
      </div>
    </div>
    <button type="button"
            class="btn btn-primary"
            [disabled]="form.invalid"
            (click)="createJoke(setup.value, punchline.value)">Create
    </button>
  </form>
</div>
